[submodule "new/bionic"]
	path = new/bionic
	url = https://android.googlesource.com/platform/bionic
[submodule "new/clang"]
	path = new/clang
	url = https://github.com/llvm-mirror/clang.git
[submodule "new/figlet"]
	path = new/figlet
	url = https://github.com/cmatsuoka/figlet.git
[submodule "new/gcc"]
	path = new/gcc
	url = https://github.com/gcc-mirror/gcc.git
[submodule "new/git"]
	path = new/git
	url = https://github.com/git/git.git
[submodule "new/glibc"]
	path = new/glibc
	url = git://sourceware.org/git/glibc.git
[submodule "new/goblint-musl"]
	path = new/goblint-musl
	url = https://github.com/goblint/musl.git
[submodule "new/kitty"]
	path = new/kitty
	url = https://github.com/kovidgoyal/kitty.git
[submodule "new/linux"]
	path = new/linux
	url = https://github.com/torvalds/linux.git
[submodule "new/musl"]
	path = new/musl
	url = https://github.com/bminor/musl.git
[submodule "new/netmap"]
	path = new/netmap
	url = https://github.com/luigirizzo/netmap.git
[submodule "new/numpy"]
	path = new/numpy
	url = https://github.com/numpy/numpy.git
[submodule "new/redis"]
	path = new/redis
	url = https://github.com/antirez/redis.git
[submodule "new/vim"]
	path = new/vim
	url = https://github.com/vim/vim.git
[submodule "new/wget"]
	path = new/wget
	url = https://github.com/mirror/wget.git
[submodule "sosy-ldv"]
	path = sosy-ldv
	url = https://gitlab.com/sosy-lab/software/ldv-benchmarks.git
