.DS_Store
.idea
.vscode
linux-headers*
bench.txt
bench_result*
goblint
juliet/C
juliet/summary_table.html

# ignore filetypes
*.o
compile_commands.json

# update_bench_incremental
incremental_data/
original/
increment/

# goblint
result/
cfgs/
.goblint/
*.prec
esop23_table2_set_goblint/*
esop23_table2_set_watts/*
esop23_table2_set_ratcop/*
