#  SmtpRC Email template
#
#	 This file specifies the email template used to
#  send emails through scanned hosts
#
#
#  The format below must be kept to.
#  The subject must not contain extra line
#  Feeds or carrage returns
#
#  Everything between SUBJECT: and ENDSUBJECT will be
#  Included in the subject and everything between
#  BODY: and ENDBODY will be included in the body
#



SUBJECT:(SmtpRC-Test) Test for susceptibility to relaying third-party mailENDSUBJECT
BODY:
This message is a test probe, to ensure that your mail server is secured
against third-party mail relay. This is NOT an attempt to hack or crack
your system, but just to ensure the system(s) are secured against this common
vulnerability. 


A well-configured mail server should NOT relay third-party email.
Otherwise, the server is subject to attack and hijack by Internet vandals and spammers.
For information on how to secure a mail server against third-party relaying, visit http://mail-abuse.org/tsi/
ENDBODY
